

.tarjeta__titulo {
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}


.formulario__grupo--boton {
    width: 120px;
    color: wheat;
    border: .12em solid gray;
    border-radius: .5em;
    text-transform: uppercase;
    font-size: large !important;
    background-color: #555555;
    
}

button:hover {
    background-color: rgb(43, 128, 43);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.formulario__imagen {
    margin-left: -900px;
    width: 25%;
    border-radius: 30px;
    
}

.formulario__tarjeta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
	width: 100%;
	max-width: 400px;
    max-height: 700px;
	padding: 10px;
	border-radius: 30px;
    background-image: url("../assests/logo003.png");
    margin-left: 60%;
    background-color: #571111;
    box-shadow: 0 0 10px rgba(231, 216, 216, 0.1);    
    position: initial;
    margin-top: -530px;
    
}

.formulario__tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

.formulario__tarjeta input,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 40%;
	width: 100%;
	padding: 5px 12px;
	border-radius: 10px;
}

.formulario__tarjeta input {
	margin-bottom: 15px;
	text-transform: uppercase;
}

.formulario__grupo--flebox {
	display: flex;
	justify-content: space-between;
}

.grupo__expira {
	width: 100%;
}