.contador {
    width: 15%;
    margin-top: -400px;
    margin-left: 43%;
    border-radius: 20px;
    background-color: #571111;
}

.dias__titulo {
    color: wheat;
}
.contador__boton {
    border-radius: 20px;
    margin: 5px;
    width: 90px;
    background-color: #555555;
    color: beige;
}